#
# Python .gitignore
# Source: {{config.python_gitignore_url}}
#

{{config.python_gitignore}}

#
# VSCode .gitignore
# Source: {{config.vscode_gitignore_url}}
#

{{config.vscode_gitignore}}

#
# Additional files
#
